.createUniversityContainer {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 600px;  
}

.input{
	margin-left: 2.5%;
	margin-top: 2.3%
}

.submit{
	border-radius: 20px;
	margin-left: 2.5%;
	margin-top: 2.3%
}
