.AppSignUp{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
	height: 100%;
    width: 100%;
	font-size: 1.5em;
	border-radius: 20px;
}

img{
	cursor: pointer;
}

#signup{
	margin-left: 37%;
	margin-top: 5%;
}

.signup{
	border-radius: 20px;
	margin-right: 5%;
	margin-top: 2.5%;
}

#name_signUp input{
	margin-left: 2.5%;
	margin-top: 2.3%
}

#username_signUp input{
	margin-top: 2.5%;
	margin-left: 5.7%;
}

#password_signUp input{
	margin-top: 2.5%;
	margin-left: 6.4%;
}

#confirm_password_signUp input{
	margin-top: 2.5%;
	margin-left: 1.2%;
}

.userLevel ul {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.userLevel li {
    padding: 0 0.5rem;
}

.userLevel input {
	float: left;
	clear: none;
	margin: 6px 10px 0 2px;
}

.userLevel label {
	float: left;
	clear: none;
	display: block;
	padding: 2px 1em 0 0;
}

.userLevel {
	display: flex;
	flex-direction: row;
}